@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add an Expertise</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Expertise")
  @Html.DropDownList("ExpertiseId")

  <input type="submit" value="Save" />
}