@{
  Layout = "_LayoutHome";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="full-width">
<div class="hero-image">
  <div class="hero-text">
          <h1 class="whiteText">Dr. Sillystringz's Factory</h1>
           <div class="col-md-6">
          <p>@Html.ActionLink("Add A Engineer", "Index", "Engineers", null, new { @class = "btn btn-info btn-large" })</p>
        </div>
        <div class="col-md-6">
          <p>@Html.ActionLink("See all Machines", "Index", "Machines", null, new { @class = "btn btn-info btn-large" })</p>
        </div>
    </div>
</div>
</div>